@import "base.scss";
.wjs_header {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    .row {
        >div {
            text-align: center;
        }
        >div:nth-of-type(-n + 3) {
            border-right: 1px solid #ccc;
        }
        .btn-danger {
            background-color: #f00;
            border-color: #f00;
            outline: none;
        }
        .btn {
            padding: 3px 15px;
        }
    }
}


.wjs_carousel {
    ol {
        li {
            margin: 0px 8px;
        }
    }
    div.item {
        .pcImg {
            display: block;
            height: 380px;
            background-position: center center;
        }
        .mobileImg {
            display: block;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
